body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    background: rgba(0, 100, 0, 0.9); 
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.btn {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: lightgray;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover {
    background: gray;
}
.input-box {
    margin: 20px;
    text-align: left;
}
.input-box label {
    display: block;
    font-size: 16px;
}
.input-box input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
}
footer {
    background-color: #064d06;
    padding: 20px 0;
  } 
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .footer-section {
    margin: 10px 20px;
    text-align: center;
  }
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  .follow-us img,
  .contact-us img {
    width: 25px;
    height: 25px;
    margin: 5px;
  }
  .contact-us a {
    color: #ccc;
    text-decoration: none;
  }
  .contact-us a:hover {
    text-decoration: underline;
  }
  .footer-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
  }
  .footer-nav a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .buttons-container {
      width: 90%;
    }
  
    .btn-item {
      flex-direction: row;
    }
  
    footer {
      text-align: center;
    }
  
    .footer-container {
      flex-direction: column;
    }
  }